header h1{
    font-size: 2.2rem;
    text-align: center;
    vertical-align: top;
    color: rgb(50, 29, 240);
}

body {
    padding: 10%;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(102, 218, 73);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #33a14e;
    border-radius: 5px;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    color: #313131;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 5px;
    margin: 8px 0 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 10px;
}
.checkbox-container input {
    margin-right: 10px;
}

textarea {
    resize: vertical;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.styled-table {
    width: 100%;
    background-color: rgb(48, 201, 48);
    border-collapse: collapse;
}

.styled-table caption {
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(48, 201, 48);
    font-style: oblique;
    border: 2px solid rgb(40, 11, 78);
}

.styled-table th,
.styled-table td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border: 2px solid rgb(40, 11, 78);
}

a {
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: purple;
}

a:hover,
a:focus {
    color: hsla(189, 44%, 49%, 0.8);
}
